*.class
/java/bin/
hs_err_pid*
*.jar
*.war
*.ear
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib

/native/build/
/native/out/
/native/bin/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile

.classpath
.project
.settings/
.idea/
*cli
*.iml
*.iws
.vscode/
.vs/
*.user
*.suo
Thumbs.db
